@charset "utf-8";
/* @base */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button{margin:0;padding:0;}
body,button,input,select,textarea{font-size:12px;font-family:NSimSun,SimSun;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img,a img{border:0;}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
q:before,q:after{content:'';}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
em{font-style:normal;}
ins,a,a:hover{text-decoration:none;}

.fn-clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.fn-clear{*zoom:1;}
.fn-hide{display:none;}
.fn-left,.fn-right{display:inline;}
.fn-left{float:left;}
.fn-right{float:right;}

.fn-mt10{margin-top:10px;}
.fn-mt20{margin-top:20px;}
.fn-mt30{margin-top:30px;}
.fn-mt40{margin-top:40px;}

.fn-img{display:block;width:100%;}

/* @reset */
html{
	background: #f0f0f0;
}

/* @common */
.co-header, .co-body, .co-footer{
	margin: 0 auto;
	width: 980px;
}

.co-header{
	padding: 70px 0 10px;
	background-size: 100px 100px;
}
.co-header .logo{
	position: absolute;
	margin: -68px 0 0 14px;
	height: 100px;
	background: url(../img/logo.png) no-repeat left top;
	padding: 14px 0 0 106px;
}
.co-header .logoem{
	position: absolute;
	margin: -43px 0 0 670px;
	width: 311px;
	height: 30px;
	background: url(../img/logo_em.png) no-repeat left top;
}
.co-header .nav{
	height: 36px;
	overflow: hidden;
	background: url(../img/header.png) no-repeat left top;
	padding-left: 4px;
	border-radius: 5px;
}
.co-header .link{
	float: right;
	background: url(../img/header.png) no-repeat right top;
	padding-right: 4px;
}
.co-header .link a{
	float: left;
	width: 116px;
	height: 36px;
	line-height: 36px;
	background: url(../img/header.png) no-repeat left -40px;
	text-align: center;
	padding-left: 4px;
	color: #fff;
	font-size: 14px;
	font-family: "Microsoft YaHei";
}

.co-footer{
	margin-top: 20px;
	border-top: solid 1px #ccc;
}
.co-footer .smalllogo{
	position: absolute;
	margin: 10px 0 0 20px;
}
.co-footer .smalllogo img{
	width: 50px;
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
	-webkit-filter: grayscale(1);
}
.co-footer .info{
	padding: 12px 0 12px 92px;
	line-height: 2;
	color: #666;
	font-family: "Microsoft YaHei";
}
.co-footer .info em{
	color: #ccc;
}

