@charset "utf-8";
/* @index */
.ui-banner{
	position: relative;
	width: 978px;
	height: 398px;
	overflow: hidden;
	border: solid 1px #e0e0e0;
	background-color: #fff;
}
.kf-slide-wrap, .kf-slide-wrap li{
	width: 978px;
	height: 398px;
	overflow: hidden;
}
.kf-slide-wrap li{
	float: left;
}
.kf-slide-icon{
	position: absolute;
	right: 6px;
	bottom: 8px;
	z-index: 9;
}
.kf-slide-icon li{
	float: left;
	margin-right: 6px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #999;
	text-indent: -99px;
	overflow: hidden;
}
.kf-slide-icon li.current{
	background-color: #f60;
}

.ui-news{
	margin-top: 10px;
	height: 30px;
	border: solid 1px #e0e0e0;
	background-color: #fff;
	line-height: 30px;
}
.ui-news span{
	float: left;
	color: #dbdbdb;
	font-size: 16px;
}
.ui-news .more{
	float: right;
	color: #09f;
	padding: 0 8px;
	font-family: 'Courier New';
}
.ui-news .title{
	padding: 0 8px;
	color: #0082ff;
	font-weight: bold;
	font-size: 14px;
	font-family: Tahoma;
}
.ui-news .note{
	float: left;
	margin-left: 8px;
	width: 820px;
}
.ui-news .note a{
	color: #666;
}
.ui-news .note a:hover{
	color: #f60;
}

.ui-grid{
	position: relative;
	margin-top: 10px;
	height: 230px;
	overflow: hidden;
}
.ui-grid .bar{
	margin: auto;
	width: 316px;
	height: 228px;
	border: solid 1px #ccc;
	background-color: #fff;
}
.ui-grid .first, .ui-grid .last{
	position: absolute;
	top: 0;
}
.ui-grid .first{
	left: 0;
}
.ui-grid .last{
	right: 0;
}
.ui-grid .bar-head{
	height: 28px;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 1px;
}
.ui-grid .bar-head .title{
	position: relative;
	font-size: 14px;
	padding: 0 10px;
	background-color: #e0e0e0;
	color: #666;
}
.ui-grid .bar-head .title a{
	position: absolute;
	right: 10px;
	letter-spacing: 0;
	color: #09f;
}
.ui-grid .tabhead{
	position: relative;
	background-color: #999;
}
.ui-grid .tabhead a{
	float: left;
	width: 104px;
	height: 28px;
	text-align: center;
	background-color: #999;
	color: #fff;
}
.ui-grid .tabhead a.current{
	background-color: #666;
}
.ui-grid .bar-body{
	height: 200px;
	overflow: hidden;
}
.ui-grid .bar-body.current{
	display: block;
}
.ui-grid .bar-body .newslist{
	padding: 10px 16px;
	line-height: 30px;
}
.ui-grid .bar-body .newslist a{
	float: left;
	color: #666;
}
.ui-grid .bar-body .newslist a:hover{
	color: #333;
}
.ui-grid .bar-body .newslist em{
	float: right;
	color: #999;
}

#kf-fade{
	position: relative;
	width: 310px;
	height: 194px;
	padding: 3px;
	overflow: hidden;
}
.kf-fade-wrap, .kf-fade-wrap li{
	width: 310px;
	height: 194px;
	overflow: hidden;
}
.kf-fade-wrap img{
	display: block;
	width: 310px;
}
.kf-fade-icon{
	position: absolute;
	left: 130px;
	bottom: 6px;
	z-index: 9;
}
.kf-fade-icon li{
	float: left;
	margin-right: 6px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #999;
	text-indent: -99px;
	overflow: hidden;
}
.kf-fade-icon li.current{
	background-color: #09f;
}

.ui-grid .bar-body .catlink{
	height: 112px;
	overflow: hidden;
}
.ui-grid .bar-body .catlink .content{
	padding: 17px 0 0 30px;
}
.ui-grid .bar-body .catlink .content a{
	float: left;
	margin: 0 16px 14px 0;
	width: 120px;
	height: 32px;
	line-height: 32px;
	background-color: #09f;
	color: #fff;
	border-radius: 3px;
	text-align: center;
	font-family: "Microsoft YaHei";
}
.ui-grid .bar-body .catcall{
	height: 88px;
	overflow: hidden;
	background: url(../img/support2.jpg) no-repeat right top;
}

.ui-prolist{
	margin-top: 10px; 
}
.ui-prolist .title{
	font-size: 14px;
	line-height: 2;
	color: #666;
	padding: 0 2px;
}
.ui-prolist .content{
	padding: 10px;
	background-color: #e0e0e0;
}
.ui-prolist .slidewrap{
	height: 120px;
	overflow: hidden;
}
.ui-prolist .content ul{
	float: left;
}
.ui-prolist .content li{
	float: left;
	padding-right: 10px;
}